.main{
    padding: 33px 0 0 0;
    width: 100%;
    height: 100%;

}
.info {
    position: relative;
    border-radius: 5px;
    background-color: rgb(219, 219, 219);
    height: 100%;
    width: 275px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info_cart {
    padding: 7px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    height: 50%;
}
.info_cart_lable {
    width: 100%;
    font-size: 10px;
}
.info_payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.info_credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
