.main {
    display: flex;
    justify-content: space-between;
    
}

.form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.input {
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.submit {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.first_pay_percent{
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
